<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Code</title>
</head>

<body>
    <div style="font-family: Arial, sans-serif; text-align: center; margin: 20px;">
        <h1>Hello, {{name}}!</h1>
        <p>Your OTP code is:</p>
        <div style="font-size: 24px; font-weight: bold; color: #007BFF; margin: 10px 0;">
            {{otpCode}}
        </div>
    </div>
</body>

</html>